<aside class="sidebar">
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="https://www.uptrend-analytics.com/example_images/richard-hendricks.jpg" alt="ravi rawat" width="80"/>
    </figure>
    <div class="info-content">
      <h1 class="name" title="ravi rawat">Ravi Rawat</h1>
      <p class="profession">Software Engineer</p>
    </div>
  </div>
  <div class="sidebar-show-contacts">
    <div class="separator"></div>
    <ul class="contact-list">
      <li class="contact-item">
        <div class="icon-box">svg</div>
        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a class="contact-link" href="mailto:ravirawat0@outlook.com">ravirawat</a>
        </div>
      </li>
      <li class="contact-item">
        <div class="icon-box">svg</div>
        <div class="contact-info">
          <p class="contact-title">Phone</p>
          <a class="contact-link" href="tel:+917395091311">+91 7395091311</a>
        </div>
      </li>
      <li class="contact-item">
        <div class="icon-box">svg</div>
        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>Hyderabad, Telangana</address>
        </div>
      </li>
    </ul>
    <div class="separator"></div>
    <ul class="social-list">
      <li class="socail-item">
        <a class="social-link" href="https://github.com">svg</a>
      </li>
      <li class="socail-item">
        <a class="social-link" href="https://linkdin.com">svg</a>
      </li>
    </ul>
  </div>
</aside>
