.main{
  max-width: 1300px;
  margin-inline: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1.5625rem; /* 25px */
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-content{
  min-width: 70%;
  width: 70%;
  margin: 0;
  position: relative;
}
