<article class="article">
  <header>
    <h2 class="article-title">Projects</h2>
  </header>

  <section class="projects">
    <ul class="project-list">
      <li class="project-item active">
        <div class="project-img-container">
          <figure class="project-img">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/personal-a91fe.appspot.com/o/Screenshot%202024-06-09%20170802.png?alt=media&token=27ed3f6f-966f-409d-a0a0-b65a75daf309"/>
          </figure>
        </div>
        <div class="project-title-action">
          <h3>Ecommerce</h3>
          <div class="icons">
            <a matTooltip = "live" class="action-container" href="http://ecommerce-prod-ravi.s3-website-us-east-1.amazonaws.com" target="_blank">
              <div class="action">
                <mat-icon>open_in_new</mat-icon>
                <span>Live</span>
              </div>
            </a>
            <a matTooltip = "frontend" class="action-container" href="https://github.com/ravirawat0-cyber/Ecommerce/tree/master/EcommerceUser" target="_blank">
              <div class="action">
                <mat-icon>settings_ethernet</mat-icon>
                <span>
                    Frontend
                  </span>
              </div>
            </a>
            <a matTooltip = "backend" class="action-container" href="https://github.com/ravirawat0-cyber/Ecommerce/tree/master/EcommerceAPIs" target="_blank">
              <div class="action">
                <mat-icon>settings_ethernet</mat-icon>
                <span>Backend</span>
              </div>
            </a>

          </div>
        </div>
      </li>

      <li class="project-item active">
        <div class="project-img-container">
          <figure class="project-img">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/personal-a91fe.appspot.com/o/Screenshot%202024-06-09%20183224.png?alt=media&token=0e133a60-17a4-4099-989c-21ac19bef3a8"/>
          </figure>
        </div>
        <div class="project-title-action">
          <h3>Omnifood</h3>
          <div class="icons">
            <a matTooltip="live" class="action-container" href="https://omnifoodrv.netlify.app/" target="_blank">
              <div class="action">
                <mat-icon>open_in_new</mat-icon>
                <span>Live</span>
              </div>
            </a>
            <a matTooltip="frontend" class="action-container" href="https://github.com/ravirawat0-cyber/OmnifoodProject" target="_blank">
              <div class="action">
                <mat-icon>settings_ethernet</mat-icon>
                <span>
                    Frontend
                  </span>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li class="project-item active">
        <div class="project-img-container">
          <figure class="project-img">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/personal-a91fe.appspot.com/o/Screenshot%202024-06-09%20184006.png?alt=media&token=1c70a1e6-1cb3-417b-8a5d-518dd466f902"/>
          </figure>
        </div>
        <div class="project-title-action">
          <h3>IMDB</h3>
          <div class="icons">
            <a matTooltip="live" class="action-container" href="http://www.imdb.somee.com/swagger/index.html" target="_blank">
              <div class="action">
                <mat-icon>open_in_new</mat-icon>
                <span>Live</span>
              </div>
            </a>

            <a matTooltip="backend" class="action-container" href="https://github.com/ravirawat0-cyber/imdb"  target="_blank">
              <div class="action">
                <mat-icon>settings_ethernet</mat-icon>
                <span>Backend</span>
              </div>
            </a>
          </div>
        </div>
      </li>

      <li class="project-item active">
        <div class="project-img-container">
          <figure class="project-img">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/personal-a91fe.appspot.com/o/Screenshot%202024-06-09%20184449.png?alt=media&token=09c086d9-feb7-40fb-b936-bfe410e88995"/>
          </figure>
        </div>
        <div class="project-title-action">
          <h3>Ecommerce Backend</h3>
          <div class="icons">
            <a matTooltip="live" class="action-container" href="http://rvecommerce.somee.com/swagger/index.html" target="_blank">
              <div class="action">
                <mat-icon>open_in_new</mat-icon>
                <span>Live</span>
              </div>
            </a>
            <a matTooltip="backend" class="action-container" href="https://github.com/ravirawat0-cyber/Ecommerce/tree/master/EcommerceAPIs" target="_blank">
              <div class="action">
                <mat-icon>settings_ethernet</mat-icon>
                <span>Backend</span>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</article>
