<main class="main">
    <aside class="left-container">
      <app-profile></app-profile>
    </aside>
    <div class="main-content">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a [routerLink]="'/about'" routerLinkActive = "active" class="navbar-link active">About</a>
          </li>
          <li class="navbar-item">
            <a [routerLink]="'/resume'" routerLinkActive = "active"  class="navbar-link">Resume</a>
          </li>
          <li class="navbar-item">
            <a [routerLink]="'/project'" routerLinkActive = "active" class="navbar-link" >Projects</a>
          </li>
        </ul>
      </nav>
      <div class = "content">
      <router-outlet></router-outlet>
      </div>
    </div>
</main>


