.main {
  margin-inline: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1.5625rem; /* 25px / 16 */
  padding: 3rem 2rem;
}

.main-content {
  min-width: 70%;
  width: 70%;
  margin: 0;
  position: relative;
  min-height: 100%;
  padding: 1.875rem; /* 30px / 16 */
  background: #191f2b;
  border: 0.0625rem solid #353c4a; /* 1px / 16 */
  border-radius: 1.25rem; /* 20px / 16 */
}

.navbar {
  position: absolute;
  inset: 0 0 auto auto;
  width: max-content;
  border-radius: 0 1.25rem; /* 20px / 16 */
  padding: 1rem; /* 16px / 16 */
  box-shadow: none;
  background: hsla(221, 24%, 15%, 0.75);
  backdrop-filter: blur(10px);
  border: 0.0625rem solid #353c4a; /* 1px / 16 */
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem; /* 30px / 16 */
  padding: 0 1.25rem; /* 20px / 16 */
}

.navbar-item {
  list-style: none;
}

.navbar-link.active {
  color: #b198df;
}

.navbar-link {
  font-size: 0.9375rem; /* 15px / 16 */
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #c9ced6;
}


@media (max-width: 1080px) {
  .main{
    flex-direction: column;
  }
  .main-content{
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .main{
    padding: 2rem 1rem;
  }

  .navbar {
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
  }
  .content{
    margin-top: 2rem;
  }

}
