<article class="article">
  <header>
    <h2 class="article-title">Resume</h2>
  </header>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ng-icon name="ionBook"></ng-icon>
      </div>
      <h3>Education</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="timeline-item-title">Self-taught Programmer and Engineer</h4>
        <span class="timeline-date">2023 - Present</span>
        <p class="timeline-text">
          I'm a self-taught programmer who fell in love with computers during my high school computer science class.
          Since then, I've been fascinated by technology and enjoy learning new things about it every day.
        </p>
      </li>


      <li class="timeline-item">
        <h4 class="timeline-item-title">B.Tech in Computer Science and Engineering</h4>
        <span class="timeline-date">Lovely Professional University, 2019 - 2023</span>
        <p class="timeline-text">
          During my B.Tech in Computer Science at Lovely Professional University, I learned to solve complex problems,
          use modern tools, create sustainable solutions, communicate effectively, and keep learning new things. These
          skills are essential in today's industries, where companies need people who can handle challenges, adapt to
          new technologies, and contribute to ongoing improvement and innovation.
        </p>
      </li>
    </ol>
  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ng-icon name="ionBagRemoveSharp"></ng-icon>
      </div>
      <h3>Experience</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="timeline-item-title">Software Engineer, iMocha</h4>

        <span class="timeline-date">Aug 2023 - Present</span>
        <div class="timeline-text">

          <p>Developed the backend for a .NET Core project, focusing on building robust API endpoints using service and
            controller layers to facilitate seamless data interactions. </p>

          <p> Conducted extensive testing, including unit tests and integration tests, to ensure the backend’s
            reliability,
            correctness, and performance under various conditions.
          </p>

          <p>Authored a detailed Product Requirements Document (PRD) outlining the project’s scope, objectives,
            features,
            and
            functionalities to provide clear guidance and alignment for all stakeholders.
          </p>

          <p> Utilized Angular for the frontend development, creating dynamic and responsive user interfaces that
            enhance user
            experience and interact efficiently with the backend APIs.</p>

        </div>
      </li>

      <li class="timeline-item">
        <h4 class="timeline-item-title">Software Engineer, DeltaX</h4>
        <span class="timeline-date">Jan 2023 - June 2023</span>
        <div class="timeline-text">
          <p>Developed an IMDb application that allows users to manage various movie-related functionalities, including
            adding,
            listing, and updating movies, as well as managing actor information.
          </p>
          <p>
            Implemented a robust layered architecture to support key features such as Add Movie, List Movies, Add Actor,
            and
            Delete Actor, ensuring a clean separation of concerns and enhancing maintainability
          </p>
          <p>
            Utilized Behavior-Driven Development (BDD) for testing all features, using Specflow and Gherkin syntax
          </p>
          <p>
            Optimized database operations and improved application performance using stored procedures.
          </p>
        </div>
      </li>
    </ol>
  </section>

  <section class = "skill">
    <h3 class="skill-title">My Skills</h3>
    <ul class="skill-list content-card">
      <li class="skills-item">
        <div class="title-wrapper">
          <h4>Frontend Development </h4>
          <data value="90">70%</data>
        </div>

        <div class="skill-progress-bg">
          <mat-progress-bar mode="determinate" value="70" ></mat-progress-bar>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h4>Backend Development </h4>
          <data value="90">80%</data>
        </div>
        <div class="skill-progress-bg">
          <mat-progress-bar mode="determinate" value="80" ></mat-progress-bar>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h4>Product Development </h4>
          <data value="90">80%</data>
        </div>

        <div class="skill-progress-bg">
          <mat-progress-bar mode="determinate" value="80" ></mat-progress-bar>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h4>Problem Solving</h4>
          <data value="90">80%</data>
        </div>

        <div class="skill-progress-bg">
          <mat-progress-bar mode="determinate" value="70" ></mat-progress-bar>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h4>Leadership & Team Management </h4>
          <data value="90">70%</data>
        </div>

        <div class="skill-progress-bg">
          <mat-progress-bar mode="determinate" value="70" ></mat-progress-bar>
        </div>
      </li>

    </ul>
  </section>
</article>
