/* global.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --base-font-size: 1rem;
  --primary-bg-color: #0b101b;
  --secondary-bg-color: #191f2b;
  --border-color: #353c4a;
  --primary-color: #ffffff;
  --secondary-color: #c9ced6;
  --highlight-color: #b198df;
  --gradient-color-start: #9775d3;
  --gradient-color-end: #673ab7;
  --box-radius: 1.25rem;
  --padding: 1.875rem;
  --gap: 1.5625rem;
  --small-gap: 0.9375rem;
  --font-weight-bold: 800;
  --font-weight-regular: 500;
  --font-weight-light: 300;
  --transition-speed: 0.25s;
}

.mat-typography {
  background: var(--primary-bg-color);
}

